@import "~normalize.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.direction-left {
  left: 100%;
}

.direction-right {
  left: -100%;
}

.active {
  left: 0;
}

.next-right {
  animation: toLeftIn 1s;
}

.next-left {
  animation: toRightIn 1s;
}

.current-right {
  animation: toRightOut 1s;
}

.current-left {
  animation: toLeftOut 1s;
}

@keyframes toLeftOut {
  from {left: 0}
  to {left: 100%}
}

@keyframes toLeftIn {
  from {left: 100%}
  to {left: 0}
}

@keyframes toRightOut {
  from {left: 0}
  to {left: -100%}
}

@keyframes toRightIn {
  from {left: -100%}
  to {left: 0}
}

.slider {
  display: flex;
  position: relative;
  color: #888;
  max-width: 100%;
  width: 100%;
  font-size: .8rem;
  height: 100vh;
  overflow: hidden;
  &__slide {
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 5rem;
    flex-shrink: 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .arrow {
    position: absolute;
    top: 50%; 
  }
  .left {
    left: 1rem;
  }
  .right {
    right: 1rem;
  }
  .arrow-element {
    position: relative;
    width: 3rem;
    height: 1rem;
    background: rgb(160, 160, 160);
    border-radius: 1rem;
    transition: 1s background;
  }
  .hover {
    background: rgb(56, 56, 56);
  }
  .top.left {
    left: 0;
    top: -10px;
    transform: rotate(-45deg);
  }
  .bottom.left {
    left: 0;
    transform: rotate(45deg);
  }
  .top.right {
    left: 0;
    top: -10px;
    transform: rotate(45deg);
  }
  .bottom.right {
    left: 0;
    transform: rotate(-45deg);
  }
  .dots {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 2rem;
    justify-content: center;
    align-items: center;
    .dot {
      width: 20px;
      height: 20px;
      background:#a0a0a0;
      border-radius: 100%;
      border: 3px solid black;
      margin-right: 1rem;
      box-shadow: 0px 0px 10px 16px rgba(255, 255, 255, 0.5) inset;
      transition: all 1s;
      &:hover {
        background:rgb(56, 56, 56);
      }
    }
    .active {
      border: unset;
      box-shadow: 0px 0px 3px 3px rgba(39, 95, 139, 0.6);
      background: rgb(29, 87, 163)
    }
  }
}